@charset "utf-8";

* {
  margin:0;
  padding:0;
}

body {
  
}

.animation {
  width: 640px;
  height:480px;
  background: #70B32D;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -240px;
  margin-left: -320px;
}

.phone {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -187px;
  margin-left: -88px;
  z-index: 2;
}

.text-boxes {
  width: 3000px;
  margin-top: 97px;
  margin-left: 235px;
  position: relative;
  -webkit-animation-duration: 18s;
  -webkit-animation-name: slidein-alt;
  -webkit-animation-iteration-count: infinite;

-webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
        transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */



}

.text {
  width:135px;
  height:245px;
  display: inline-block;
  margin:20px;
}

@-webkit-keyframes slidein-alt {
  0%   {margin-left: 235px}
  8%  {margin-left: 235px}

  10%  {margin-left: -1019px}
  18%  {margin-left: -1019px}

  20%  {margin-left: -1197px}
  28%  {margin-left: -1197px}

  30%  {margin-left: -839px}
  38%  {margin-left: -839px}

  40%  {margin-left: 56px}
  48%  {margin-left: 56px}

  50%  {margin-left: -661px}
  58%  {margin-left: -661px}

  60%  {margin-left: -302px}
  68%  {margin-left: -302px}

  70%  {margin-left: -1019px}
  78%  {margin-left: -1019px}

  80%  {margin-left: -123px}
  88%  {margin-left: -123px}

  90%  {margin-left: -482px}
  98%  {margin-left: -482px}

  100% {margin-left: 235px}

}

