---
title: Animation
---

<div class="animation">
  <img src="images/phone.svg" class="phone" />
  <div class="text-boxes">
    <div class="text">
     <img src="images/text1.svg" />
    </div>
    <div class="text">
     <img src="images/text2.svg" />
    </div>
    <div class="text">
     <img src="images/text3.svg" />
    </div>
    <div class="text">
     <img src="images/text4.svg" />
    </div>
    <div class="text">
     <img src="images/text5.svg" />
    </div>
    <div class="text">
     <img src="images/text1.svg" />
    </div>
    <div class="text">
     <img src="images/text2.svg" />
    </div>
    <div class="text">
     <img src="images/text3.svg" />
    </div>
    <div class="text">
     <img src="images/text4.svg" />
    </div>
    <div class="text">
     <img src="images/text5.svg" />
    </div>
  </div>
</div>